/* updated and validated on YYYYMMDD */
/* These styles are subject to change without notice */
/* These styles have been specifically created for use in Bureau of Meteorology web pages only */
/* AMDISS Systems */
div#content table.tabs div,
div#content table.tabs span,
div#content table.tabs a,
div#content table.tabs b,
div#content table.tabs img,
div#content table.tabs strong,
div#content table.tabs table,
div#content table.tabs caption,
div#content table.tabs tbody,
div#content table.tabs tfoot,
div#content table.tabs thead,
div#content table.tabs tr,
div#content table.tabs th,
div#content table.tabs td{
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
div#content table.tabs,	div#content table.tabs table{
border-collapse:collapse;
border-spacing:0;
}
div#content table.tabs b,
div#content table.tabs strong{
font-weight:700;
}

div#content table.tabs {
background-color:#EEE;
border-collapse:collapse;
border:1px solid #FBFBFB;
color:#000;
margin:0 auto;
padding:0px;
width:100%;
}
div#content table.tabs td,
div#content table.tabs th {
margin:0;
padding:0;
}
div#content table.tabs td.notactivetab,
div#content table.tabs td.activetab {
border:1px solid #CCC;
text-align:center;
width:15%
}
div#content table.tabs td.notactivetab {
border-bottom:none;
font-weight:700;
}
div#content table.tabs td.activetab {
background-color:#DADADA;
border-top:1px solid #FFF;
}
div#content table.tabs td.activetab a {
display:block;
margin:0;
padding:.3em;
}
div#content table.tabs td.activetab a,
div#content table.tabs td.activetab a:link,
div#content table.tabs td.activetab a:active {
color:#000;
text-decoration:none;
}
div#content table.tabs td.activetab a:hover {
background-color:#CCC;
}
div#content table.tabs td.links {
border:1px solid #CCC;
border-top:none;
}
div#content table.tabs table {
background-color:#FBFBFB;
border-color:#DDD;
border-collapse:collapse;
border:none;
width:100%;
}
div#content table.tabs table td,
div#content table.tabs table th {
background-color:#FBFBFB;
border-bottom:1px solid #DDD;
font-size:.96em;
padding:3px 0px 4px 0px;
text-align:center;
width:15%;
}
div.reg-radar table#tabs-can,
div.registered-users-radar table#tabs-can,
div.air_service-radar table#tabs-can,
div.public-radar table#tabs-can {
margin:0 auto;
}
